# Binder Simple

In [1]:
import json
import os
import uuid
import pandas as pd
import streamlit as st
import argparse
import traceback
from typing import Dict
import requests
import sys
sys.path.append('.')
from utils.utils import load_data_split
from utils.normalizer import post_process_sql
from nsql.database import NeuralDB
from nsql.nsql_exec import Executor as NSqlExecutor
from nsql.nsql_exec_python import Executor as PyExecutor
from generation.generator import Generator
import time
from IPython.display import display, Markdown, Latex

/Users/mpsk/anaconda3/lib/python3.9/site-packages/fuzzywuzzy/fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

In [2]:
ROOT_DIR = os.getcwd()
# todo: Add more binder questions, need careful cherry-picks
EXAMPLE_TABLES = {
    "Estonia men's national volleyball team": (558, "what is the number of players from france?"),
    # 'how old is kert toobal'
    "Highest mountain peaks of California": (5, "which is the lowest mountain?"),
    # 'which mountain is in the most north place?'
    "2010–11 UAB Blazers men's basketball team": (1, "how many players come from alabama?"),
    # 'how many players are born after 1996?'
    "Nissan SR20DET": (438, "which car has power more than 170 kw?"),
    # ''
}

keys = None
with open('key.txt') as f:
    keys = [l.split('\n')[0] for l in f.readlines() if l[:3] == 'sk-']
key = keys[0]

def read_markdown(path):
    with open(path, "r") as f:
        output = f.read()
    display(Markdown(output, unsafe_allow_html=True))


def generate_binder_program(_args, _generator, _data_item):
    n_shots = _args.n_shots
    few_shot_prompt = _generator.build_few_shot_prompt_from_file(
        file_path=_args.prompt_file,
        n_shots=n_shots
    )
    generate_prompt = _generator.build_generate_prompt(
        data_item=_data_item,
        generate_type=(_args.generate_type,)
    )
    prompt = few_shot_prompt + "\n\n" + generate_prompt

    # Ensure the input length fit Codex max input tokens by shrinking the n_shots
    max_prompt_tokens = _args.max_api_total_tokens - _args.max_generation_tokens
    from transformers import AutoTokenizer
    tokenizer = AutoTokenizer.from_pretrained(pretrained_model_name_or_path=os.path.join(ROOT_DIR, "utils", "gpt2"))
    while len(tokenizer.tokenize(prompt)) >= max_prompt_tokens:
        n_shots -= 1
        assert n_shots >= 0
        few_shot_prompt = _generator.build_few_shot_prompt_from_file(
            file_path=_args.prompt_file,
            n_shots=n_shots
        )
        prompt = few_shot_prompt + "\n\n" + generate_prompt

    response_dict = _generator.generate_one_pass(
        prompts=[("0", prompt)],  # the "0" is the place taker, take effect only when there are multi threads
        verbose=_args.verbose
    )
    print(response_dict)
    return response_dict["0"][0][0]


def remove_row_id(table):
    new_table = {"header": [], "rows": []}
    header: list = table['header']
    rows = table['rows']

    if not 'row_id' in header:
        return table

    new_table['header'] = header[1:]
    new_table['rows'] = [row[1:] for row in rows]

    return new_table

In [3]:
import nltk

nltk.download('punkt')
# debug options

class Args:
    prompt_file = 'templates/prompts/wikitq_binder.txt'
    prompt_style = 'create_table_select_3_full_table'
    generate_type = 'nsql'
    n_shots = 14
    seed = 12
    engine = "code-davinci-002"
    max_generation_tokens = 512
    max_api_total_tokens = 8001
    temperature = 0.
    sampling_n = 1
    top_p = 1.0
    stop_tokens = '\n\n'
    qa_retrieve_pool_file = 'templates/qa_retrieve_pool/qa_retrieve_pool.json'
    verbose = True

args = Args()
keys = [key]

[nltk_data] Downloading package punkt to /Users/mpsk/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [4]:
selected_table_title = list(EXAMPLE_TABLES.keys())[0]
selected_language = ("Binder-SQL", "Binder-Python")[0]


# Here we just use ourselves'
data_items = load_data_split("missing_squall", "validation")
data_item = data_items[EXAMPLE_TABLES[selected_table_title][0]]
table = data_item['table']
header, rows, title = table['header'], table['rows'], table['page_title']
print(title)
print(table)
db = NeuralDB(
    [{"title": title, "table": table}])  # todo: try to cache this db instead of re-creating it again and again.
df = db.get_table_df()
display(df)

2023-03-12 16:41:21.542 WARNING datasets.builder: Found cached dataset missing_squall (/Users/mpsk/Documents/Binder/utils/../datasets/data/missing_squall/default/0.0.0/2ced32ae8f5cb98ce39417392accce0b8f6fa8995ffd0fc62e24464b06468e14)

  0%|          | 0/3 [00:00<?, ?it/s]

Estonia men's national volleyball team
{'page_title': "Estonia men's national volleyball team", 'header': ['No.', 'Player', 'Birth Date', 'Weight', 'Height', 'Position', 'Current Club'], 'rows': [['4', 'Ardo Kreek', 'August 7, 1986 (age\xa027)', '96', '203', 'Middle blocker', 'Paris Volley'], ['5', 'Kert Toobal', 'June 3, 1979 (age\xa035)', '78', '189', 'Setter', 'Sivas 4 Eylül'], ['6', 'Martti Juhkami', 'June 6, 1988 (age\xa026)', '96', '196', 'Spiker', 'TV Bühl'], ['7', 'Argo Meresaar', 'January 13, 1980 (age\xa034)', '107', '206', 'Opposite', 'Bigbank Tartu'], ['8', 'Kusti Nõlvak', 'November 6, 1991 (age\xa022)', '81', '186', 'Setter', 'TTÜ VK'], ['9', 'Robert Täht', 'August 15, 1993 (age\xa020)', '80', '190', 'Spiker', 'Bigbank Tartu'], ['11', 'Oliver Venno', 'May 23, 1990 (age\xa024)', '105', '210', 'Opposite', 'Rennes Volley 35'], ['14', 'Rait Rikberg', 'August 30, 1982 (age\xa031)', '80', '174', 'Libero', 'Bigbank Tartu'], ['16', 'Edgar Järvekülg', 'June 12, 1988 (age\xa026)', '77', '186', 'Libero', 'Pärnu VK'], ['17', 'Siim Ennemuist', 'December 5, 1989 (age\xa024)', '89', '196', 'Middle blocker', 'TTÜ VK'], ['18', 'Jaanus Nõmmsalu', 'January 19, 1981 (age\xa033)', '94', '200', 'Spiker', 'TTÜ VK'], ['19', 'Andri Aganits', 'September 7, 1993 (age\xa020)', '99', '207', 'Middle Blocker', 'TV Bühl']]}

,row_id,no.,player,birth date,weight,height,position,current club
0,0,4,ardo kreek,1986-8-7 (age 27),96,203,middle blocker,paris volley
1,1,5,kert toobal,1979-6-3 (age 35),78,189,setter,sivas 4 eylül
2,2,6,martti juhkami,1988-6-6 (age 26),96,196,spiker,tv bühl
3,3,7,argo meresaar,1980-1-13 (age 34),107,206,opposite,bigbank tartu
4,4,8,kusti nõlvak,1991-11-6 (age 22),81,186,setter,ttü vk
5,5,9,robert täht,1993-8-15 (age 20),80,190,spiker,bigbank tartu
6,6,11,oliver venno,1990-5-23 (age 24),105,210,opposite,rennes volley 35
7,7,14,rait rikberg,1982-8-30 (age 31),80,174,libero,bigbank tartu
8,8,16,edgar järvekülg,1988-6-12 (age 26),77,186,libero,pärnu vk
9,9,17,siim ennemuist,1989-12-5 (age 24),89,196,middle blocker,ttü vk
10,10,18,jaanus nõmmsalu,1981-1-19 (age 33),94,200,spiker,ttü vk
11,11,19,andri aganits,1993-9-7 (age 20),99,207,middle blocker,tv bühl

In [5]:
# Let user input the question
if selected_language == 'Binder-SQL':
    args.prompt_file = os.path.join(ROOT_DIR, 'templates/prompts/wikitq_binder.txt')
    args.generate_type = 'nsql'
elif selected_language == 'Binder-Python':
    args.prompt_file = os.path.join(ROOT_DIR, 'templates/prompts/wikitq_binder.txt')
    args.generate_type = 'npython'
else:
    raise ValueError(f'{selected_language} language is not supported.')

question = EXAMPLE_TABLES[selected_table_title][1]

# Generate Binder Program
generator = Generator(args, keys=keys)
print("Generating Binder program to solve the question...will be finished in 10s, please refresh the page if not")
binder_program = generate_binder_program(args, generator,
                                         {"question": question, "table": db.get_table_df(), "title": title})

Generating Binder program to solve the question...will be finished in 10s, please refresh the page if not
Using openai api key: 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
Openai api inference time: 2.447314977645874
Openai api one inference time: 2.447416067123413

 ******************** Codex API Call ********************
Generate SQL given the question and table to answer the question correctly.
If question-relevant column(s) contents are not suitable for SQL comparisons or calculations, map it to a new column with clean content by a new grammar QA("map@").
If mapping to a new column still can not answer the question with valid SQL, turn to an end-to-end solution by a new grammar QA("ans@"). This grammar aims to solve all the rest of complex questions or tables.

CREATE TABLE Fabrice Santoro(
	row_id int,
	name text,
	2001 text,
	2002 text,
	2003 text,
	2004 text,
	2005 text,
	2006 text,
	2007 text,
	2008 text,
	2009 text,
	2010 text,
	career\nsr text,
	career\nwin-loss text)
/*
3 example rows:
SELECT * FROM w LIMIT 3;
row_id	name	2001	2002	2003	2004	2005	2006	2007	2008	2009	2010	career\nsr	career\nwin-loss
0	australian open	2r	1r	3r	2r	1r	qf	3r	2r	3r	1r	0 / 18	22–18
1	french open	4r	2r	2r	3r	1r	1r	1r	2r	1r	a	0 / 20	17–20
2	wimbledon	3r	2r	2r	2r	2r	2r	2r	1r	2r	a	0 / 14	11–14
*/
Q: did he win more at the australian open or indian wells?
NeuralSQL: SELECT name FROM w WHERE name IN ('australian open', 'indian wells') ORDER BY QA("map@how many wins?"; `career\nwin-loss`) DESC LIMIT 1


CREATE TABLE 2007 New Orleans Saints season(
	row_id int,
	week int,
	date text,
	opponent text,
	time text,
	game site text,
	tv text,
	result/score text,
	record text)
/*
3 example rows:
SELECT * FROM w LIMIT 3;
row_id	week	date	opponent	time	game site	tv	result/score	record
0	1	2007-9-6	indianapolis colts	t20:30 edt	rca dome	nbc	l 41 – 10	0–1
1	2	2007-9-16	tampa bay buccaneers	t13:0 edt	raymond james stadium	fox	l 31 – 14	0–2
2	3	2007-9-24	tennessee titans	t20:30 edt	louisiana superdome	espn	l 31 – 14	0–3
*/
Q: what number of games were lost at home?
NeuralSQL: SELECT COUNT(*) FROM w WHERE QA("map@is it a loss?"; `result/score`) = 'yes' AND QA("map@is it the home court of New Orleans Saints?"; `game site`) = 'yes'


CREATE TABLE 2007 New Orleans Saints season(
	row_id int,
	week int,
	date text,
	opponent text,
	time text,
	game site text,
	tv text,
	result/score text,
	record text)
/*
3 example rows:
SELECT * FROM w LIMIT 3;
row_id	week	date	opponent	time	game site	tv	result/score	record
0	1	2007-9-6	indianapolis colts	t20:30 edt	away	nbc	loss	0–1
1	2	2007-9-16	tampa bay buccaneers	t13:0 edt	home	fox	win	1-1
2	3	2007-9-24	tennessee titans	t20:30 edt	away	espn	loss	1-2
*/
Q: what number of games were lost at home?
NeuralSQL: SELECT COUNT(*) FROM w WHERE `result/score` = 'loss' AND `game site` = 'home'


CREATE TABLE Demographics of Alaska(
	row_id int,
	by race text,
	white text,
	black text,
	aian* text,
	asian text,
	nhpi* text)
/*
3 example rows:
SELECT * FROM w LIMIT 3;
row_id	by race	white	black	aian*	asian	nhpi*
0	2000 (total population)	75.43%	4.46%	19.06%	5.24%	0.88%
1	2000 (hispanic only)	3.42%	0.33%	0.45%	0.16%	0.06%
2	2005 (total population)	74.71%	4.72%	18.77%	5.9%	0.88%
*/
Q: which hispanic population had the greatest growth from 2000 to 2005?
NeuralSQL: QA("ans@which race had the greatest value?"; SELECT white, black,  `aian*`, asian, `nhpi*` FROM w WHERE `by race` = 'growth 2000–5 (hispanic only)')


CREATE TABLE Highest mountain peaks of California(
	row_id int,
	rank int,
	mountain peak text,
	mountain range text,
	elevation text,
	prominence text,
	isolation text,
	location text)
/*
3 example rows:
SELECT * FROM w LIMIT 3;
row_id	rank	mountain peak	mountain range	elevation	prominence	isolation	location
0	1	mount whitney	sierra nevada	14505 ft; 4421 m	10080 ft; 3072 m	1646 mi; 2649 km	36°34′43″n 118°17′31″w﻿ / ﻿36.5786°n 118.292°w
1	2	mount williamson	sierra nevada	14379 ft; 4383 m	1677 ft; 511 m	5.4 mi; 8.7 km	36°39′21″n 118°18′40″w﻿ / ﻿36.6559°n 118.3111°w
2	3	white mountain peak	white mountains	14252 ft; 4344 m	7196 ft; 2193 m	67 mi; 109 km	37°38′3″n 118°15′21″w﻿ / ﻿37.6341°n 118.2557°w
*/
Q: which mountain peak has a prominence more than 10,000 ft?
NeuralSQL: SELECT `mountain peak` FROM w WHERE QA("map@prominence in ft?"; prominence) > 10000


CREATE TABLE Daegu FC(
	row_id int,
	season int,
	division int,
	tms. int,
	pos. int,
	fa cup text,
	afc cl text)
/*
3 example rows:
SELECT * FROM w LIMIT 3;
row_id	season	division	tms.	pos.	fa cup	afc cl
0	2003	1	12	11	quarter final	none
1	2004	1	13	10	round of 32	none
2	2005	1	13	8	quarter final	none
*/
Q: how far did they make it in the fa cup after 2009?
NeuralSQL: QA("ans@how far did they make?"; SELECT `fa cup` FROM w WHERE season > 2009)


CREATE TABLE Electricity in Sri Lanka(
	row_id int,
	filledcolumnname text,
	2005 int,
	2006 int,
	2007 int,
	2008 int,
	2009 int,
	2010 int,
	2011 int,
	2012 int)
/*
3 example rows:
SELECT * FROM w LIMIT 3;
row_id	filledcolumnname	2005	2006	2007	2008	2009	2010	2011	2012
0	hydro power	1293	1316	1326	1357	1379	1382	1401	1584
1	thermal	1155	1155	1155	1285	1290	1390	1690	1638
2	other renewables	3	3	3	3	15	45	50	90
*/
Q: did the hydro power increase or decrease from 2010 to 2012?
NeuralSQL: SELECT CASE WHEN (SELECT `2010` FROM w WHERE filledcolumnname = 'hydro power') < (SELECT `2012` FROM w WHERE filledcolumnname = 'hydro power') THEN 'increase' ELSE 'decrease' END


CREATE TABLE List of political parties in Japan(
	row_id int,
	party text,
	diet representation\nrepresentatives int,
	diet representation\ncouncillors int,
	party leader(s) text,
	comments text)
/*
3 example rows:
SELECT * FROM w LIMIT 3;
row_id	party	diet representation\nrepresentatives	diet representation\ncouncillors	party leader(s)	comments
0	your party (yp); minna no tō みんなの党; ("everybody's party")	18	18	yoshimi watanabe reps.	conservative liberalism, neoliberalism, economic liberalism, libertarianism, anti-nuclear
1	japanese communist party (jcp); nihon kyōsan-tō 日本共産党	8	11	kazuo shii reps.	the japanese communist party is japan's oldest party. it was formed in 1922 as an underground organization in the empire of japan, but was legalized after world war ii during the occupation. it used to be a communist party, but the party has past_ref shifted to a socialist party.
2	people's life party (plp); seikatsu no tō 生活の党	7	2	ichirō ozawa reps.	life party was founded by ichirō ozawa and 14 other diet members who were in the 2022-7-4 party of japan after a leadership dispute between ozawa and yukiko kada.
*/
Q: what party is listed previous to the new renaissance party?
NeuralSQL: SELECT QA("map@what is party name?"; party) FROM w WHERE row_id = (SELECT row_id FROM w WHERE QA("map@what is party name?"; party) = 'new renaissance party') - 1


CREATE TABLE FC Seoul in Asian football(
	row_id int,
	# int,
	season int,
	competition text,
	date text,
	round text,
	opponent text,
	h / a text,
	result text,
	scorer (s) text)
/*
3 example rows:
SELECT * FROM w LIMIT 3;
row_id	#	season	competition	date	round	opponent	h / a	result	scorer (s)
0	35	2011	afc; champions league	2011-03-02 00:00:00	group stage	al-ain	a	1–0	s : dejan damjanović
1	36	2011	afc; champions league	2011-03-15 00:00:00	group stage	hangzhou greentown	h	3–0	s : dejan damjanović, ou kyoung-jun, mauricio molina
2	37	2011	afc; champions league	2011-04-06 00:00:00	group stage	nagoya grampus	a	1–1	s : choi hyun-tae; n : kensuke nagai
*/
Q: how many consecutive games did dejan damjanovic score a goal in during the 2013 season?
NeuralSQL: QA("ans@how many consecutive games did dejan damjanovic score a goal?"; SELECT `scorer (s)` FROM w WHERE season = 2013)


CREATE TABLE Electoral district of Lachlan(
	row_id int,
	member text,
	party text,
	term text)
/*
3 example rows:
SELECT * FROM w LIMIT 3;
row_id	member	party	term
0	john ryan	none	1859–1864
1	james martin	none	1864–1869
2	james watson	none	1869–1880
*/
Q: of the members of the third incarnation of the lachlan, who served the longest?
NeuralSQL: SELECT member FROM w ORDER BY QA("map@how long does it last?"; term) DESC LIMIT 1


CREATE TABLE Portugal in the Eurovision Song Contest 1979(
	row_id int,
	draw int,
	artist text,
	song text,
	points int,
	place text)
/*
3 example rows:
SELECT * FROM w LIMIT 3;
row_id	draw	artist	song	points	place
0	1	gonzaga coutinho	"tema para um homem só"	102	5th
1	2	pedro osório s.a.r.l.	"uma canção comercial"	123	3rd
2	3	concha	"qualquer dia, quem diria"	78	6th
*/
Q: who was the last draw?
NeuralSQL: SELECT `artist` FROM w ORDER by `draw` desc LIMIT 1


CREATE TABLE GER Class N31(
	row_id int,
	year int,
	order text,
	quantity int,
	ger nos. text)
/*
3 example rows:
SELECT * FROM w LIMIT 3;
row_id	year	order	quantity	ger nos.
0	1893	n31	1	999
1	1893	h33	10	979
2	1894	l33	10	989
*/
Q: which had more ger numbers, 1898 or 1893?
NeuralSQL: SELECT `year` FROM w WHERE `year` IN ( '1898' , '1893' ) GROUP by `year` ORDER by SUM (`ger nos.`) desc LIMIT 1


CREATE TABLE List of spans(
	row_id int,
	tramway text,
	country text,
	city text,
	height of pylons text,
	span width,\nleaning straight line text,
	span width,\nhorizontal measurement text,
	height of cable over ground text,
	year of inauguration text,
	notes text)
/*
3 example rows:
SELECT * FROM w LIMIT 3;
row_id	tramway	country	city	height of pylons	span width,\nleaning straight line	span width,\nhorizontal measurement	height of cable over ground	year of inauguration	notes
0	peak 2 peak gondola	canada	whistler	65m	3024 m	3019 m	436 m	2008	3s aerial tramway constructed by doppelmayr
1	hut of regensburg material transport aerial railway	austria	falbeson	?	?	?	430 m	?	none
2	vanoise express	france	vanoise	none	1850 m	1800 m	380 m	2003	none
*/
Q: was the sandia peak tramway innagurate before or after the 3s aerial tramway?
NeuralSQL: SELECT ( SELECT `year of inauguration` FROM w WHERE `tramway` = 'sandia peak tramway' ) < ( SELECT `year of inauguration` FROM w WHERE `tramway` = '3s aerial tramway' )


CREATE TABLE Płock Governorate(
	row_id int,
	language text,
	number int,
	percentage (%) text,
	males int,
	females int)
/*
3 example rows:
SELECT * FROM w LIMIT 3;
row_id	language	number	percentage (%)	males	females
0	polish	447685	80.86	216794	230891
1	yiddish	51215	9.25	24538	26677
2	german	35931	6.49	17409	18522
*/
Q: how many male and female german speakers are there?
NeuralSQL: SELECT `males` + `females` FROM w WHERE `language` = 'german'


-- Parse the question into NeuralSQL based on the given table below.

CREATE TABLE Estonia men's national volleyball team(
	row_id int,
	no. int,
	player text,
	birth date text,
	weight int,
	height int,
	position text,
	current club text)
/*
All rows of the table:
SELECT * FROM w;
row_id	no.	player	birth date	weight	height	position	current club
0	4	ardo kreek	1986-8-7 (age 27)	96	203	middle blocker	paris volley
1	5	kert toobal	1979-6-3 (age 35)	78	189	setter	sivas 4 eylül
2	6	martti juhkami	1988-6-6 (age 26)	96	196	spiker	tv bühl
3	7	argo meresaar	1980-1-13 (age 34)	107	206	opposite	bigbank tartu
4	8	kusti nõlvak	1991-11-6 (age 22)	81	186	setter	ttü vk
5	9	robert täht	1993-8-15 (age 20)	80	190	spiker	bigbank tartu
6	11	oliver venno	1990-5-23 (age 24)	105	210	opposite	rennes volley 35
7	14	rait rikberg	1982-8-30 (age 31)	80	174	libero	bigbank tartu
8	16	edgar järvekülg	1988-6-12 (age 26)	77	186	libero	pärnu vk
9	17	siim ennemuist	1989-12-5 (age 24)	89	196	middle blocker	ttü vk
10	18	jaanus nõmmsalu	1981-1-19 (age 33)	94	200	spiker	ttü vk
11	19	andri aganits	1993-9-7 (age 20)	99	207	middle blocker	tv bühl
*/
Q: what is the number of players from france?
NeuralSQL:


- - - - - - - - - - ->>
SELECT COUNT(*) FROM w WHERE QA("map@is it from france?"; `current club`) = 'yes'
{'0': [('SELECT COUNT(*) FROM w WHERE QA("map@is it from france?"; `current club`) = \'yes\'', -3.67773585974)]}

In [6]:
# Do execution
if selected_language == 'Binder-SQL':
    # Post process
    binder_program = post_process_sql(binder_program, df, selected_table_title, True)
    display(Markdown('```sql\n' + binder_program + '\n```'))
    executor = NSqlExecutor(args, keys=keys)
elif selected_language == 'Binder-Python':
    display(Markdown(f'```python\n{binder_program}\n```'))
    executor = PyExecutor(args, keys=keys)
    db = db.get_table_df()
else:
    raise ValueError(f'{selected_language} language is not supported.')

```sql
SELECT COUNT ( * ) FROM w WHERE QA("map@is it from france?"; `current club`) = "yes"
```

In [7]:
def remove_row_id(table):
    new_table = {"header": [], "rows": []}
    header: list = table['header']
    rows = table['rows']

    if not 'row_id' in header:
        return table

    new_table['header'] = header[1:]
    new_table['rows'] = [row[1:] for row in rows]

    return new_table

In [8]:
stamp = '{}'.format(uuid.uuid4())
os.makedirs('tmp_for_vis/', exist_ok=True)
print("Executing... will be finished in 30s, please refresh the page if not")
exec_answer = executor.nsql_exec(binder_program, db, False, stamp=stamp)
if selected_language == 'Binder-SQL':
    with open("tmp_for_vis/{}_tmp_for_vis_steps.txt".format(stamp), "r") as f:
        steps = json.load(f)
    for i, step in enumerate(steps):
        
        display(Markdown(f'**Step #{i + 1}**'))
        
        #with col1:
        display(Markdown('```sql\n' + step + '\n```'))
            
        #with col1_25:
        display(Markdown("executes\non"))
            
        #with col1_5:
        if i == len(steps) - 1:
            display(Markdown("Full table"))
        else:
            with open("tmp_for_vis/{}_result_step_{}_input.txt".format(stamp, i), "r") as f:
                sub_tables_input = json.load(f)
            for sub_table in sub_tables_input:
                sub_table_to_print = remove_row_id(sub_table)
                display(pd.DataFrame(sub_table_to_print['rows'], columns=sub_table_to_print['header']))
                    
        # with col2:
        display(Markdown('$\\rightarrow$'))
        if i == len(steps) - 1:
            # The final step
            display(Markdown("{} Interpreter".format(selected_language.replace("Binder-", ""))))
        else:
            display(Markdown("GPT3 Codex"))
        time.sleep(1)
        with open("tmp_for_vis/{}_result_step_{}.txt".format(stamp, i), "r") as f:
            result_in_this_step = json.load(f)
            
        # with col3:
        if isinstance(result_in_this_step, Dict):

            rows = remove_row_id(result_in_this_step)["rows"]
            header = remove_row_id(result_in_this_step)["header"]
            if isinstance(header, list):
                for idx in range(len(header)):
                    if header[idx].startswith('col_'):
                        header[idx] = step
            display(pd.DataFrame(rows, columns=header))
            # hard code here, use use_container_width after the huggingface update their streamlit version
        else:
            display(Markdown(result_in_this_step))
        
        time.sleep(1)
elif selected_language == 'Binder-Python':
    pass
if isinstance(exec_answer, list) and len(exec_answer) == 1:
    exec_answer = exec_answer[0]
display(Markdown(f"**Execution answer:** {exec_answer}"))
# todo: Remove tmp files

Executing... will be finished in 30s, please refresh the page if not
Using openai api key: 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

**Step #1**

```sql
QA("map@is it from france?"; `current club`)
```

executes
on

        current club
0       paris volley
1      sivas 4 eylül
2            tv bühl
3      bigbank tartu
4             ttü vk
5      bigbank tartu
6   rennes volley 35
7      bigbank tartu
8           pärnu vk
9             ttü vk
10            ttü vk
11           tv bühl

$\rightarrow$

GPT3 Codex

   QA("map@is it from france?"; `current club`)
0                                           yes
1                                            no
2                                            no
3                                            no
4                                            no
5                                            no
6                                           yes
7                                            no
8                                            no
9                                            no
10                                           no
11                                           no

**Step #2**

```sql
SELECT COUNT ( * ) FROM w WHERE QA("map@is it from france?"; `current club`) = "yes"
```

executes
on

Full table

$\rightarrow$

SQL Interpreter

   COUNT ( * )
0            2

**Execution answer:** 2